<!DOCTYPE html>
<html lang="en">
  <head>
    <title class="title">Projects</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/scripts/ProjectPage.js"></script>
  </head>
  <body>
    <%- include('../Components/NavBar.ejs') %>

    <h1>Projects</h1>
    <div class="jumbotron">
      <div class="container">
        <p>Xavier's Upcoming Projects</p>
      </div>
    </div>

    <%- include('../Components/footer.ejs') %> %>
  </body>
</html>
